[mysqld]
skip-host-cache
skip-name-resolve

# ?????utf8??
character-set-server=utf8mb4
# ??????
default-storage-engine=INNODB

[client]
#???????
default-character-set=utf8mb4
[mysql]
# ??mysql???????
default-character-set=utf8mb4